<button aria-controls="primary-menu" aria-expanded="false" class="menu-toggle">Primary Menu</button>
<div class="menu-main-container">
	<ul class="menu" id="primary-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
			<a href="{{ SITEURL }}/">Nyheter</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
			<a>Utbildningen</a>
			<ul class="sub-menu">
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/utbildning-2/programmet">Programmet</a>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/utbildning-2/studera-utomlands">Studera utomlands</a>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/utbildning-2/efter-examen">Efter examen</a>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
			<a>Förening</a>
			<ul class="sub-menu">
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
					<a href="{{ SITEURL }}/foreningar/ud-2">Uppsala Datavetare</a>
					<ul class="sub-menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page">
							<a href="{{ SITEURL }}/foreningar/ud-2/styrelsen">Styrelsen</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page">
							<a href="{{ SITEURL }}/foreningar/ud-2/arkiv">Filarkiv</a>
						</li>
					</ul>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/foreningar/dvkv">Klubbverket</a>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/foreningar/dv-sport">Spelföreningen</a>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/foreningar/update-2">Update</a>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
			<a>Student</a>
			<ul class="sub-menu">
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/student/ordlista">Ordlista</a>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="{{ SITEURL }}/student/irc">IRC</a>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="{{ SITEURL }}/alumn">Alumn</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="{{ SITEURL }}/foretag">Företag</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="{{ SITEURL }}/student/lankar">Länkar</a>
		</li>
	</ul>
</div>
<div class="menu-schedules-container">
	<ul class="menu" id="secondary-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
			<a href="https://se.timeedit.net/web/uu/db1/schema/">Schemasök</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
			<a href="https://se.timeedit.net/web/uu/db1/schema/ri6f7XYQ60ZZ4YQvQQ075025y6Y2957.html">DVK1</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
			<a href="https://se.timeedit.net/web/uu/db1/schema/ri6f7XYQ60ZZ0YQvQQ075035y6Y2957.html">DVK2</a>
		</li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom">
			<a href="https://se.timeedit.net/web/uu/db1/schema/ri6f7XYQ60ZZ5YQvQQ075035y6Y2957.html">DVK3</a>
		</li>
	</ul>
</div>
