{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="pagination">
	{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<a href="{{ SITEURL }}/{% if page_name != 'index' %}{{ page_name }}/{% endif %}{% if num > 1 %}page/{{ num }}{% endif %}" class="first">&laquo;</a>
	{% endif %}
	{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
		{% if num == articles_page.number %}
			<span class="current">{{ num }}</span>
		{% else %}
		<a href="{{ SITEURL }}/{% if page_name != 'index' %}{{ page_name }}/{% endif %}{% if num > 1 %}page/{{ num }}{% endif %}">{{ num }}</a>
		{% endif %}
	{% endfor %}
	{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{% if page_name != 'index' %}{{ page_name }}/{% endif %}/page/{{ articles_page.next_page_number() }}">&raquo;</a>
	{% endif %}
</ul>
</div>
{% endif %}
