
/* DV-red #B32020 */
:root {
	--dv-red: #B32020;
	--dv-dark-red: #8B2A34;
}

/* base -------------------------------------------------------------------*/

html, body {
	margin: 0;
	width: 100%;
}

/* body * { border: 1px solid red; } */

body {
	margin: 0;
}

.banner {
	background: url(/theme/img/bg_alt.jpg) #111;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 80%;
	background-attachment: 50% 80%;
	height: 100%;
	width: 100%;
}

.banner-wrapper {
	height: 50vh;
	width: 100%;
	margin: auto;
}

.index-header {
	background-color: var(--dv-dark-red);
	height: 50vh;
}

main {
	background-color: white;
	margin: auto;
	width: 100%;
}

.content-wrapper {
	background-color: white;
	width: 70%;
	margin: auto;
}

.footer {
	height: 300px;
	width: 100%;
	margin: auto;
	background-color: rgb(30, 30, 30)
}

.divider {
	margin-top: 20px;
	margin-bottom: 20px;

	border-color: var(--dv-dark-red);
	border-width: 1px;
	border-style: solid;
	border-radius: 1px;
}
/* nav --------------------------------------------------------------------*/

nav {
	opacity: 0;
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	/* margin: auto; */
	background-color: rgb(30, 30, 30);
}


/* post -------------------------------------------------------------------*/

.post {
	font-family: Helvetica, Arial, sans-serif

}

.post-header {
	height: 50px;
	display: block;
}

.post-meta {
	float: right;
}

.post-title {
	float: left;
}

.post-content {
	margin: 10px;
}

.post-content a {
	color: red
}


.post-footer {

}

.category-links {

}